body {
    background-image: url("/assets/pictures/golf-background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#buttons-view {
    margin-top: 20px;
   
}
.golfer-btn {
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: rgb(205, 230, 240);
}
.golfer-btn:hover {
    background-color: rgba(83, 128, 16, 0.945);
}
.golfer-btn:active {
background-color: rgba(159, 179, 130, 0.945);  
box-shadow: 0 1px black;
transform: translateY(2px);
}
#golfer-input {
    margin-bottom: 5px;
}
form {
    margin-top: 50px;
}
label {
    font-size: 22px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.gifRow {
  margin-top: 20px;
  margin-left: 40px;
}
